<?xml version="1.0" encoding="utf-8"?>
<image displayname="openSUSE_Leap_42.1_KDE_Live" name="openSUSE-Leap-42.1-KDE-Live" schemaversion="6.2">
    <description type="system">
        <author>Projeto Linux Kamarada</author>
        <contact>linuxkamarada@gmail.com</contact>
        <specification>openSUSE Leap 42.1 Live system</specification>
    </description>
    <preferences>
        <type boot="isoboot/suse-leap42.1" checkprebuilt="true" editbootconfig="isopatch.sh" flags="overlay" hybrid="true" hybridpersistent="true" image="iso" kernelcmdline="splash" primary="true" volid="openSUSE Leap 42.1 KDE Live">
            <split>
                <temporary>
                    <file name="/etc"/>
                    <file name="/etc/*"/>
                    <file name="/home"/>
                    <file name="/home/*"/>
                    <file name="/tmp"/>
                    <file name="/tmp/*"/>
                    <file name="/var"/>
                    <file name="/var/*"/>
                </temporary>
            </split>
        </type>
        <version>1.42.1</version>
        <packagemanager>zypper</packagemanager>
        <locale>pt_BR</locale>
        <keytable>br-abnt2.map.gz</keytable>
        <timezone>Brazil/East</timezone>
        <hwclock>localtime</hwclock>
        <rpm-excludedocs>false</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <rpm-force>false</rpm-force>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <users group="root">
        <user home="/root" name="root" password="" />
    </users>
    <!-- openSUSE-Leap-42.1-Oss -->
    <repository type="yast2">
        <!--<source path="obs://leap/42.1/repo/oss"/>-->
        <source path="http://download.opensuse.org/distribution/leap/42.1/repo/oss/"/>
    </repository>
    <!-- openSUSE-Leap-42.1-Update -->
    <repository type="rpm-md">
        <source path="http://download.opensuse.org/update/leap/42.1/oss/"/>
    </repository>
    <packages patternType="plusRecommended" type="image">
        <!-- AppArmor -->
        <namedCollection name="apparmor"/>
        <!-- Sistema base -->
        <namedCollection name="base"/>
        <!-- Sistema base aprimorado -->
        <namedCollection name="enhanced_base"/>
        <!-- Fontes -->
        <namedCollection name="fonts"/>
        <!-- Jogos -->
        <namedCollection name="games"/>
        <!-- Gráficos -->
        <namedCollection name="imaging"/>
        <!-- Ambiente da área de trabalho KDE -->
        <namedCollection name="kde"/>
        <!-- Plasma 5 Desktop -->
        <namedCollection name="kde_plasma"/>
        <!-- Multimídia -->
        <namedCollection name="multimedia"/>
        <!-- Pacotes proprietários diversos -->
        <namedCollection name="non_oss"/>
        <!-- Programas de escritório -->
        <namedCollection name="office"/>
        <!-- Gerenciamento de software -->
        <namedCollection name="sw_management"/>
        <!-- Sistema de janelas X -->
        <namedCollection name="x11"/>
        <!-- Administração do sistema do YaST -->
        <namedCollection name="yast2_basis"/>
        
        <package name="aaa_base"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <!-- workaround for bnc#892087 -->
        <package name="e2fsprogs" bootinclude="true"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
        <package name="grub2"/>
        <package name="grub2-branding-openSUSE" bootinclude="true"/>
        <package name="ifplugd"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="less"/>
        <package name="lvm2"/>
        <package name="openssh"/>
        <package name="pam"/>
        <package name="pam-config"/>
        <package name="pam-modules"/>
        <package name="parted"/>
        <package name="patch"/>
        <package name="plymouth"/>
        <package name="plymouth-branding-openSUSE" bootinclude="true"/>
        <package name="syslinux"/>
        <package name="tar"/>
        <package name="udev"/>
        <package name="vim"/>
        <package name="virtualbox-guest-desktop-icons"/>
        <package name="virtualbox-guest-kmp-default"/>
        <package name="virtualbox-guest-tools"/>
        <package name="virtualbox-guest-x11"/>
        <package name="which"/>
        <package name="yast2-live-installer"/>
        <package name="zypper"/>
    </packages>
    <packages type="bootstrap">
        <package name="branding-openSUSE"/>
        <package name="ca-certificates"/>
        <package name="cracklib-dict-full"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="module-init-tools"/>
<!--
        The installation of products in SLE12 requires the SLE12 zypper
        Thus the following definition only works when building on SLE12

        <product name="openSUSE"/>

        In order to stay compatible we just install the product rpm
        package. It's required to install the release package in the
        bootstrap phase in order to avoid the installation of an auto
        selected dummy-release package which later conflicts with all
        other release packages
-->
        <package name="openSUSE-release"/>
        <package name="udev"/>
    </packages>
    <packages type="delete">
        <package name="kernel-debug"/>
    </packages>
</image>
