<?xml version='1.0' encoding='UTF-8'?>
<image name='openSUSELeap42.1KDELive' displayname='openSUSELeap42.1KDELive' schemaversion='5.2'>
  <description type='system'>
    <author>Projeto Linux Kamarada</author>
    <contact>studio-devel@suse.de</contact>
    <specification>openSUSE Leap 42.1 KDE 4</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='isoboot/suse-leap42.1' fsnocheck='true' bootloader='grub2' firmware='uefi' flags='overlay' hybrid='true' image='iso'>
      <split>
        <temporary>
          <file name='/var'/>
          <file name='/var/*'/>
          <file name='/etc'/>
          <file name='/etc/*'/>
          <file name='/tmp'/>
          <file name='/tmp/*'/>
          <file name='/home'/>
          <file name='/home/*'/>
        </temporary>
      </split>
    </type>
    <version>0.0.1</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
  </preferences>
  <users group='users'>
    <user name='linux' pwd='$1$WJ0pBqnE$yLrQtZ9sUqMSnF6cxWLsk/' home='/home/linux' shell='/bin/bash'/>
  </users>
  <users group='root'>
    <user name='root' pwd='$1$AyDBmhZt$lyfsf3sfBFV7mzRGYufIE.' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <package name='grub'/>
    <package name='shim' bootinclude='true'/>
    <package name='grub2-x86_64-efi'/>
    <package name='kdebase4-openSUSE'/>
    <package name='patterns-openSUSE-kde'/>
    <package name='patterns-openSUSE-minimal_base'/>
    <package name='sddm'/>
    <package name='konsole'/>
    <package name='libyui-qt-pkg7'/>
    <package name='kwin'/>
    <package name='soprano-backend-virtuoso'/>
    <package name='yast2-control-center-qt'/>
    <package name='kdebase4-session'/>
    <package name='sax3'/>
    <package name='x11-tools'/>
    <package name='xorg-x11'/>
    <package name='xorg-x11-driver-input'/>
    <package name='xorg-x11-driver-video'/>
    <package name='xorg-x11-fonts'/>
    <package name='grub2-branding-openSUSE'/>
    <package name='gfxboot-branding-openSUSE'/>
    <package name='yast2-x11'/>
    <package name='SuSEfirewall2'/>
    <package name='less'/>
    <package name='yast2-firstboot'/>
    <package name='e2fsprogs'/>
    <package name='branding-openSUSE'/>
    <package name='patterns-openSUSE-base'/>
    <package name='grub2'/>
    <package name='iputils'/>
    <package name='kernel-default'/>
    <package name='plymouth'/>
    <package name='syslog-ng'/>
    <package name='vim'/>
    <package name='zypper'/>
    <package name='timezone'/>
    <package name='gsettings-backend-dconf'/>
    <package name='glibc'/>
    <package name='glibc-locale'/>
    <package name='yast2-live-installer'/>
    <package name='yast2-users'/>
    <package name='btrfsprogs'/>
    <archive name='plymouth.tar' bootinclude='true'/>
    <package name='gfxboot-devel' bootinclude='true'/>
    <archive name='sddm.tar'/>
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
    <package name='module-init-tools'/>
  </packages>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/repositories/openSUSE:/Leap:/42.1/standard/'/>
  </repository>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/update/leap/42.1/oss/'/>
  </repository>
</image>
